<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>38185865524-llunl75fkenlir67pf81hjqhap1alsi8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.38185865524-llunl75fkenlir67pf81hjqhap1alsi8</string>
	<key>API_KEY</key>
	<string>AIzaSyAwNEmJBbe0UHa7Tk5Ss9jzXR12JfYKLYg</string>
	<key>GCM_SENDER_ID</key>
	<string>38185865524</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adnanturgay.ridersapp</string>
	<key>PROJECT_ID</key>
	<string>bring-clone-app</string>
	<key>STORAGE_BUCKET</key>
	<string>bring-clone-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:38185865524:ios:35d98550cef81d3b081561</string>
</dict>
</plist>